body {
    margin: 0;
    width: 500px;
    
}

.container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background: #111827;
    padding: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}

h1 {
    font-family: 'cursed-timer-ulil-regular', sans-serif;;
    background: #080001;
    color: #F94F6D;
    font-size: 90px;
    text-align: center;
    margin: 20px;
    padding: 0px 5px;
    border-radius: 4px;
}

h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-size: 40px;
    margin: 0px auto;
}

button {
    width: 45px;
    height: 45px;
    background: #111827; 
    border: #9AABD8 1px solid;
    border-radius: 4px;
    color: #9AABD8;
}